@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono:wght@300;500&family=Roboto:ital@0;1&display=swap');

:root {
    font-family: Roboto, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: dark;
    color: #101010;
    background-color: #eeeeee;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    overflow: hidden;
    min-width: 320px;
    min-height: 100vh;
}

#content {
    position: relative;
    top: 60px;
    height: calc(100vh - 60px);
    overflow: hidden;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

.content {
    position: absolute;
    left: 270px;
    width: calc(100% - 290px);
    padding: 10px;
    transition: all 250ms ease;
}

.sidebar.close ~ .content {
    left: 92px;
    width: calc(100% - 112px);
}