@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono:wght@300;500&family=Roboto:ital@0;1&display=swap');

:root {
    font-family: Roboto, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: dark;
    color: #101010;
    background-color: #f0f0f0;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    overflow: hidden;
    min-width: 320px;
    min-height: 100vh;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

.content {
    position: absolute;
    left: 90px;
    width: calc(100% - 130px);
    padding: 20px;
}

/* Buttons */
.btn-green {
    border-color: #10ac84;
    background-color: #10ac84;
}

.btn-green:hover {
    border-color: #0e9b77;
    background-color: #0e9b77;
}

.btn-red {
    border-color: #ee5253;
    background-color: #ee5253;
}

.btn-red:hover {
    border-color: #d64a4b;
    background-color: #d64a4b;
}

/* Page loading */
.page-load {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.page-load > .loading-icon-container {
    transform: scale(3);
}