
/* Upcoming races section with title aligned to the left */
.upcoming-races {
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-left: auto;
    margin-bottom: 20px;
    align-self: flex-end;
}

.upcoming-races h2 {
    text-align: left; /* Align title to the left */
    color: #333;
    font-size: 20px; /* Increase font-size */
    margin-bottom: 10px;
}

/* Styles for race preview headers */
.race-preview-header {
    display: flex;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.race-preview-header span {
    font-weight: bold;
    color: #333;
    text-align: left;
    padding-right: 10px; /* Add some padding to the right of headers */
}

/* Adjust the flex values for each column */
.race-preview-header .race-name {
    width: 20%;
    margin-right: 4%;}
.race-preview-header .race-date {
    width: 15%;
    margin-right: 1%;}
.race-preview-header .race-address {
    width: 25%;
    margin-right: 4%;}
.race-preview-header .race-description {
    width: 31%; } /* More space for description */

/* Styles for each race preview */
.race-preview {
    display: flex;
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
    position: relative;
}

.race-preview span {
    text-align: left;
    font-size: 14px;
    color: #666;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Adjust the width of each column to match headers */
.race-preview .race-name {
    width: 20%;
    margin-right: 4%;}
.race-preview .race-date {
    width: 15%;
    margin-right: 1%;}
.race-preview .race-address {
    width: 25%;
    margin-right: 4%;}
.race-preview .race-description {
    width: 31%;

}

/* Expanded description */
.race-preview.expanded .race-address,
.race-preview.expanded .race-description {
    -webkit-line-clamp: none;
    cursor: default;
}
